@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Anton:100,400,900");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

:root {
  --dark-green: #0e4f1f;
  --highlight-color: #ff1b68;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0; /* clear default browser margin 8px */
  padding-top: 3.5rem;
}

@supports(display: grid) {
  body {
    display: grid;
    /* main and footer, footer row is 8rem */
    grid-template-rows: 3.5rem auto fit-content(8rem);
    grid-template-areas: "header" "main" "footer";
    padding-top: 0;
    height: 100%;
  }
}

main {
  /* to make sure the footer is always at the bottom*/
  /* 3.5rem is the height of navigation bar */
  /* min-height: calc(100vh - 3.5rem - 8rem); */
  /* margin-top: 3.5rem; */
  /* grid-row: 2 / 3; */
  grid-area: main;
}

/* -----------------------------------------------
 * Backdrop
 * -----------------------------------------------
 */
.backdrop {
  position: fixed;
  display: none;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 100;
  /* width: 100%;
  height: 100%; */
  /* Use viewport width and height */
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms linear;
}

/* -----------------------------------------------
 * Main header, this is also a flex container
 * -----------------------------------------------
 */
.main-header {
  width: 100%;
  /* padding: 8px 16px; */
  padding: 0.5rem 1rem;
  background: #2ddf5c; 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1; 
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  align-items: center;
  justify-content: space-between; }
  /* Use CSS combinator, select direct child of main header */
  /* Can remove '.main-header > div' after adding display flex */
  /* .main-header > div {
    display: inline-block;
    vertical-align: middle; 
  } */
  .main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    /* font-size: 22px;  */
    /* font-size: 1.375rem; */
    /* height: 22px; */
    /* height: 1.375rem; */
    /* height: 2.5rem; */
    /* display: inline-block; 
    vertical-align: middle;  */ 
  }
    /* @media (min-width: 40rem) {
      .main-header__brand {
        height: 3rem;
      }
    } */
    .main-header__brand img {
      /* height: 100%; */
      height: 2.5rem;
      vertical-align: middle;
    }

/* -----------------------------------------------
 * Toggler Button
 * -----------------------------------------------
 */
.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle; }
  .toggle-button:focus {
    outline: none;
  }
  .toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
  }

/* 
 To put nav and all li elements in one line with main header div
 Use display: inline-block in main-header, @see .main-header > div
 Use display: inline-block in main-nav 
 */
.main-nav {
  /* display: inline-block; */
  display: none; }
  .main-nav__items {
    margin: 0;
    padding: 0; 
    list-style: none; 
    display: flex; }
    .main-nav__item {
      /* display: inline-block;  */
      /* margin: 0 16px;  */
      margin: 0 1rem; }
    /* Apply same styles to main nav and mobile nav */
      .main-nav__item a,
      .mobile-nav__item a {
        text-decoration: none;
        color: #0e4f1f; 
        font-weight: bold;
        /* padding: 3px 0;  */
        padding: 0.1875rem 0; }
    /* 
      .main-nav__item a::after {
      content: " (LINK) ";  content will be added to the DOM 
      color: #ff0000;
    } */
      .main-nav__item a:hover, 
      .main-nav__item a:active {
        color: #ffffff; 
        border-bottom: 5px solid #ffffff; 
      }
      .main-nav__item--cta {
        /* See keyframe wiggle */
        /* animation: wiggle2 400ms 3s 8 alternate forwards; */
        animation: wiggle2 400ms 3s 8 ease-out none;
      }
      /* Apply same styles to main nav and mobile nav */
      .main-nav__item--cta a,
      .mobile-nav__item--cta a {
        color: #ffffff;
        background: #ff1b68;
        /* padding: 8px 16px; */
        padding: 0.5rem 1rem;
        border-radius: 8px; }
        /* Apply same styles to main nav and mobile nav */
        .main-nav__item--cta a:hover,
        .main-nav__item--cta a:active,
        .mobile-nav__item--cta a:hover,
        .mobile-nav__item--cta a:active {
          color: #ff1b68;
          background: #ffffff;
          border: none;
        }

/* -----------------------------------------------
 * Desktop view
 * -----------------------------------------------
 */
@media (min-width: 40rem) {
  .toggle-button {
    display: none;
  }
  .main-nav {
    /* display: inline-block;
    text-align: right;  */
    /* 
      Substract 60px which is the length of .main-header > div from .main-nav 100% width,
      to fit both .main-header > div and .main-nav in one line
     */
    /* width: calc(100% - 74px); 
    vertical-align: middle; */
    display: flex;
  }
}

/* -----------------------------------------------
 * Main footer
 * -----------------------------------------------
 */
.main-footer {
  background: #000000;
  /* padding: 32px; */
  padding: 2rem;
  /* margin-top: 48px;  */
  margin-top: 3rem; 
  /* grid-row: 3 / 4; */
  grid-area: footer;
}
  .main-footer__links {
    list-style: none;
    padding: 0;
    margin: 0;
    /* text-align: center;  */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    .main-footer__link {
      /* display: inline-block; */
      /* margin: 0 16px;  */
      /* display: block; */
      /* margin: 1rem 0;  */
      margin: 0.5rem 0; 
    }
      .main-footer__link a {
        color: #ffffff;
        text-decoration: none; }
        .main-footer__link a:hover,
        .main-footer__link a:active {
          color: #cccccc; }
      @media (min-width: 40rem) {
        .main-footer__link {
          /* display: inline-block; */
          margin: 0 1rem; 
        }

        .main-footer__links {
          flex-direction: row;
          justify-content: center;
        }
      }


/* -----------------------------------------------
 * Button
 * -----------------------------------------------
 */
.button {
  /* background: #0e4f1f; */
  background: var(--dark-green, #0e4f1f);
  color: #ffffff;
  /* inherit font from body element */
  font: inherit;
  /* border: 1.5px solid #0e4f1f; */
  border: 1.5px solid var(--dark-green, #0e4f1f);
  /* padding: 8px; */
  padding: 0.5rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer; }
  .button:hover,
  .button:active {
    background: #ffffff;
    /* color: #0e4f1f; */
    color: var(--dark-green, #0e4f1f);
  }
  .button:focus {
    outline: none;
  }
  .button[disabled] {
    cursor: not-allowed;
    border: #a1a1a1;
    background: #cccccc;
    color: #a1a1a1;
  }
  
/* -----------------------------------------------
 * Mobile Navigation
 * -----------------------------------------------
 */
.mobile-nav {
  /* display: none; */
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh; 
  transform: translateX(-100%);
  transition: transform 300ms linear;
}
  .mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    /* margin: 10% auto; */
    margin: 0 auto;
    padding: 0;
    /* text-align: center;  */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .mobile-nav__item {
      margin: 1rem 0; }
      .mobile-nav__item a {
        font-size: 1.5rem;
      }

/*
 * Open, it is used in JavaScript code to toggle model, backdrop, button
 * added !important to overwrite specificity
 */
.open {
  display: block !important;
  opacity: 1 !important;
  transform: translateY(0) translateX(0) !important;
}

@keyframes wiggle {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(10deg);
  }
}

@keyframes wiggle2 {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(10deg);
  }
}