<mat-card>
	<mat-form-field>
		<input matInput type="text" [(ngModel)]="enteredTitle" name="enteredTitle" />
	</mat-form-field>
	<mat-form-field>
		<!-- <textarea rows="6" [value]="postContent" #postInput></textarea> -->
		<textarea matInput rows="6" [(ngModel)]="enteredContent" name="enteredContent"></textarea>
	</mat-form-field>
	<button mat-raised-button color="primary" (click)="onAddPost()">Save Post</button>
</mat-card>
<!-- <button (click)="onAddPost(postInput)">Save Post</button> -->
<!-- <p>{{ postContent }}</p> -->