@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

button {
  font: inherit;
  background: #ff2050;
  padding: 0.5rem 2rem;
  color: #fff;
  border: 1px solid #ff2050;
  margin: 0.5rem 0;
  border-radius: 5px;
  cursor: pointer;
}

button:hover,
button:active {
  box-sizing: 0 2px 4px rgba(0, 0, 0, 0.26);
}

button:focus {
  outline: none;
}
