*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  /* position: relative; */
  margin: 1rem;
}

.main {
  /* position: absolute; */
  border: 1px dashed #d1cccc;
  padding: 1rem;
  /* left: -100%; */
  /* margin-top: 1rem;
  padding: 1.25rem 5rem;
  border: 1px solid #c9c2c2;
  box-shadow: 5px 10px 8px #d1cccc;
  border-radius: 5px;
  transition: left 1s ease-in-out, transform 2s ease-in-out 1s, opacity 3s ease-out 0.2s; */
}

.el {
  margin: 1rem;
  padding: 1.25rem 5rem;
  border: 1px solid #c9c2c2;
  -webkit-box-shadow: 5px 10px 8px #d1cccc;
          box-shadow: 5px 10px 8px #d1cccc;
  border-radius: 5px;
  -webkit-transition: opacity 2s ease-out 0.2s, -webkit-transform 1s ease-in-out 1s;
  transition: opacity 2s ease-out 0.2s, -webkit-transform 1s ease-in-out 1s;
  -o-transition: transform 1s ease-in-out 1s, opacity 2s ease-out 0.2s;
  transition: transform 1s ease-in-out 1s, opacity 2s ease-out 0.2s;
  transition: transform 1s ease-in-out 1s, opacity 2s ease-out 0.2s, -webkit-transform 1s ease-in-out 1s;
}

.delete {
  color: #1d1db3;
  cursor: pointer;
}

.delete:hover {
  text-decoration: underline;
}

.el.hideDiv {
  -webkit-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
          transform: translateY(-100px);
  opacity: 0;
 }

.navigation-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.navigation-header .button-dropdown-container .bars {
  display: flex;
  flex-direction: column;
  margin: 16px;
  padding: 10px;
  border: 1px solid #e6dddd;
  border-radius: 10%;
  box-shadow: 2px 2px #e6dddd;
  cursor: pointer;
}

.navigation-header .button-dropdown-container .bars span {
  margin: 1px 0;
  width: 30px;
  height: 3px;
  background-color: #887f7f;
}

.navigation-header .links {
  margin: 16px;
}

.navigation-header .links a {
  cursor: pointer;
}

.navigation-header .dropdown {
  width: 300px;
  height: 320px;
  border: 1px solid #c2b6b6;
  background-color: #f8f6f6;
  /* overflow: scroll; */
  position: absolute;
  top: 60px;
  left: 16px;
  z-index: 10;
}

.navigation-header .dropdown.hidden {
  display: none;
}

.navigation-header .dropdown .dropdown-content {
  width: 100%;
  height: 200px;
  background-image: url("./bg.png");
  background-position: center;
  background-size: cover;
  margin-bottom: 64px;
}

.navigation-header .dropdown .dropdown-circle {
  width: 80px;
  height: 80px;
  background-color: #80e1f5;
  border: 3px solid #ffffff;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  border-radius: 50%;
  position: absolute;
  left: 32px;
  top: 160px;
}

.navigation-header .dropdown .dropdown-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 32px;
  margin-top: auto;
}

.navigation-header .dropdown .dropdown-buttons .show-button {
  font-family: inherit;
  font-weight: bold;
  width: 90px;
  height: 30px;
  line-height: 10px;
  padding: 0.5rem 1rem;
  border: 1px solid #5555f7;
  border-radius: 3px;
  cursor: pointer;
  /* border: none; */
  outline: none;
  color: #f8f6f6;
  background-color: #6161f8;
}

.navigation-header .dropdown .dropdown-buttons .show-button:hover,
.navigation-header .dropdown .dropdown-buttons .show-button:active {
  border: none;
  background-color: #7878fc;
}

.main.showDiv {
  left: 200px;
  transform: translateY(-100px);
  opacity: 0;
}

.action {
  font-family: inherit;
  margin: 1rem;
  padding: 1rem;
}

.main.walkIn {
  animation-name: walk-in;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.image-section {
  margin: 0 0 2rem 2rem;
}

.bg-item {
  width: 280px;
  height: 200px;
  border: solid 1px #cccccc;
  overflow: hidden;
}

.bg-item .background-image {
  background-image: url("./bg.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  transition: transform 3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.bg-item:hover {
  cursor: pointer;
}

.bg-item:hover .background-image {
  transform: scale(1.1);
}

.form-section {
  width: 312px; /* width is 280px plus 32px (2rem) left margin */
}

.form-input-container {
  margin: 0 0 2rem 2rem;
  position: relative;
}

.form-input-container input[type="text"],
.form-input-container input[type="password"] {
  width: 100%;
  display: block;
  padding: 16px 2px 0 0;
  font-family: inherit;
  border: none;
  border-bottom: 1px solid #292525;
}

.form-input-container input[type="text"]:hover,
.form-input-container input[type="password"]:hover  {
  outline: none;
}

.form-input-container .label-el-1,
.form-input-container .label-el-2 {
  color: #353030;
  position: absolute;
  top: 10px;
  transition: all 200ms ease;
}

.form-input-container input[type="text"]:focus ~ .label-el-1,
.form-input-container input[type="password"]:focus ~ .label-el-2 {
  top: -3px;
  color: #9e9595;
}

.form-input-container .label-el-1.upper,
.form-input-container .label-el-2.upper {
  top: -3px;
  color: #9e9595;
}

@keyframes walk-in {
  0% {
    left: -100%;
  }
  25% {
    left: 100px;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}
