<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a class="<%= path === '/' ? 'active' : '' %>" href="/">Add User</a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/add-users' ? 'active' : '' %>" href="/users">Show Users</a>
      </li>
    </ul>
  </nav>
</header>