*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
}

main.todo_main {
  margin: 16px;
}

.todoitem {
  width: 300px;
  cursor: pointer;
  padding: 16px 3px;
  margin: 3px 0;
  background-color: #e7e730;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #3e3b3b;
}
