/**/

.wrappedToggleCollapsible {
  margin: 0 2rem;
}

input.toggleCollapsible[type="checkbox"] {
  display: none;
}

.toggleCollapsibleLable {
  display: block;
}

.collapsibleContent {
  /* position: absolute; */
  width: 90%;
  background-color: rgb(159, 168, 218, 0.8);
  max-height: 0px;
  height: 0px;
  padding: 0rem 2rem;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.collapsibleContentOpen {
  margin-top: 2rem;
  padding-top: 2rem;
  height: 120px;
  max-height: 360px;
}
